@include grid(12);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
    color: $font-color;
    font-size: 0.95vw;
    @include roboto-regular;
}

form {
    input, textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 0;
        border: 1px solid $input-border-color;
    }
}

.hide {
    display: none;
}
