#intro {
   position: relative;
   height: 91vh;
   background-image: url('../images/intro_background_mobile.jpg');
   background-size: cover;
   background-position: top, -100px;
   overflow: hidden;
   display: flex;
   align-items: flex-end;

   .vertical-margins {
      background: rgba(124, 132, 154, 0.61);

      .grid-row{
         height: 50vh;
   
         .right {
            display: none;
         }
   
         .left {
            .intro-caption {
               @include image('../images/intro_caption.svg');
               background-size: 85% 95%, auto;
               width: 100vw;
               height: 80%;
               overflow: hidden;
            }
   
            a {
               @include button($intro-button-color);
               @include roboto-light;
               width: 100vw;
               height: 20%;
               text-transform: uppercase;
               font-size: 6em;
               letter-spacing: 2px;
            }
      
            p {
               display: none;
            }
         }
      }
   }
}