#footer {
   padding: 4vw;
   background: $footer-bg-color;

   .vertical-margins > .grid-row {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;

      .about-us, .about, .col-1 {
         display: none;
      } 
      
      .center {
         display: flex;
         justify-content: center;
         
         .logo-bottom {
            @include image('../graphics/svg/fooboo_logo.svg');
            width: 30vw;
            height: 20vh;
         }

         @media (orientation: landscape) {
            .logo-bottom {
               width: 20vw;
            }
         }
      }

      .social-icons {
         text-align: center;
         padding-top: 2vw;
         padding-bottom: 2vw;
         
         .icon {
            width: 70px;
            height: 70px;
            border: 1px solid white;
            border-radius: 50%;
            background: $social-icons-bg-color;
            display: inline-block;
            transition: all 0.5s;
            position: relative;
            margin: 1vw;
            margin-bottom: 0;

            .fab {
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               font-size: 35px;
               color: white;
            }
   
            &:hover{
               background: white;
               color: $social-icons-bg-color;
               transform: rotate(360deg);
   
               .fab {
                  color: $social-icons-bg-color;
               }
            }
         }
      }
   }
}
