//backgrounds
$nav-hover-bg-color: #1d2027;
$background-color: #21252e;
$header-bg-color: #393c46;
$harvest-bg-color: #ffffff; 
$harvest-content-bg-color: #ededed;
$main-section-bg-color: #ededed;
$main-section-container-bg-color: #ffffff;
$footer-bg-color: #2a2d35;
$social-icons-bg-color: #897983;
$mobile-menu-bg-color: #000000;
$mobile-menu-hover-color: #22252e;
$menu-line-color: #3a4541;

//fonts
$font-color: #ffffff;
$harvest-header-color: #393c46;
$harvest-font-color: #6d6d6d;
$main-section-font-color: #676767;
$footer-li-dot-color: #ff7200;

//buttons
$intro-button-color: #fa7615;
$harvest-button-color: #f34f66;
$main-section-btn-1-color: #f34f66;
$main-section-btn-2-color: #29c4b7;
$main-section-btn-3-color: #9e47b4;
$main-section-btn-4-color: #58b222;
$form-button-color: #ff7200;
$hover-btn-color: #c0c0c0;
$hover-btn-border-color: #000000;

//main section icons
$main-section-icon-1-color: #2ce6d7;
$main-section-icon-2-color: #2ce6d7;
$main-section-icon-3-color: #c15fd9;
$main-section-icon-4-color: #74cc3f;