@mixin roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@mixin roboto-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@mixin roboto-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

@mixin roboto-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

@mixin roboto-slab-bold {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

@mixin button($color) {
    @include roboto-regular;
    width: 10vw;
    height: 2.5vw;
    background: $color;
    border: 1px solid $color;
    outline: none;
    color: $font-color;
    font-size: 1vw;
    transition: all 0.5s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        border: 1px solid $hover-btn-border-color !important;
        background: $hover-btn-color !important;
    }
}

@mixin tab-button-main {
    width: 20vw;
    height: 3.5vh;
    font-size: 1em;
}

@mixin tab-button-landscape-main {
    height: 7vh;
}

@mixin button-tab-submit ($height, $font-size) {
    height: $height;
    font-size: $font-size;
}

@mixin image($link) {
    background-image: url($link);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 98%;
}